/* prevents unexpected behavior across browsers */
body {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    /*  element's total width and height
        includes border & padding */
}

:root {
    /* --home-bg-color: rgb(58, 60, 61); */
    --home-bg-color: skyblue;
    --projects-bg-color: #AED6F1;
    --contact-bg-color: grey;
}

nav,
footer {
    width: 100vw;
    position: absolute;
}

nav {
    display: flex;
    /* height: 23vh; */
    background-color: var(--home-bg-color);
}

footer {
    left: 0;
    bottom: 0;
    height: 10vh;
    line-height: 10vh;
    text-align: right;
    z-index: 20;

    /* prevents jumpy animation loop */
    overflow: hidden;

    color: cornsilk;
    /* background-color: orangered; */
    /* background-color: #ad0170; */
    /* background-color: var(--home-bg-color); */
    /* background-color: transparent; */
}

.swiper {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#home {
    background-color: var(--home-bg-color);
}

#projects {
    background-color: var(--projects-bg-color);
}

#contact {
    background-color: var(--contact-bg-color);
}

.bubbler {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    position: absolute;
    z-index: 20 !important;
    filter: url('#bubbling');
    /* background-color: transparent; */
}

#particleVector {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: absolute;
}

#loopVector {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: skyblue; */
    background-color: cornflowerblue;
    filter: blur(.25px) contrast(.5);
    z-index: 1;
    position: absolute;
}

svg {
    height: 0vh;
    width: 0vw;
}