/* LAVA */

.textBox {
    position: absolute;
    width: calc(100% - 400px);
}

.content {
    margin-top: 50px;
}

nav {
    /* width: 200px;
    margin-left: 142px;
    z-index: 50;
    position: absolute; */
}

.slider {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    position: relative;
    color: white;
    margin-bottom: 5px;
    font-size: 14px;

    border: none;
    outline: none;
    background: none;
}

.slider::before {
    content: '';
    width: 100%;
    height: 50%;
    line-height: 50px;
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    transition: .3s;
}

.slider:nth-child(1)::before {
    content: 'HOME';
}

.slider:nth-child(2)::before {
    content: 'PROJECTS';
}

.slider:nth-child(3)::before {
    content: 'CONTACT';
}

.slider:nth-child(4)::before {
    content: 'ABOUT';
}

.slider:nth-child(5)::before {
    content: 'HIRE ME';
}

.slider:hover::before {
    transform: translateX(-50px);
}

.mainBlock {
    width: 100%;
    min-width: 500px;
    height: 270px;
    border: 3px solid black;
    position: absolute;
    padding: 38px 60px;
    background: black;
    color: white;
    font-size: 14px;
    margin-left: 350px;
}

.mainBlock>div> :nth-child() .topBlock {
    width: 80%;
    border: 2px solid black;
    color: black;
    height: 70px;
    top: -70px;
    position: absolute;
    left: 60px;
}

.topBlock>div {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    text-align: center;
}

.bottomBlock {
    border: 2px solid black;
    color: black;
    bottom: -140px;
    height: 140px;
    left: 70px;
    width: 80%;
    position: absolute;
}

.bottomBlock>div {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    text-align: center;
}

#lava {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: url('#goo');
}