/* prevents unexpected behavior across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  element's total width and height
        includes border & padding */
}

/* LIQUID LOADER ANIMATION */
body {
    /* prevents jumpy animation loop */
    overflow: hidden;
    /* background-color: #ad0170; */
    background-color: transparent;
    filter: url('#goo');
}

.common {
    position: absolute;
    display: flex;
    animation: rotate 20s linear infinite;
}

.color1 {
    /* only works because position is absolute */
    transform: translate(-50%, -50%) rotate(0deg);
    /* amazing filter effects! */
    filter: blur(1px) contrast(15);
    z-index: 10;
}

.color2 {
    /* filter: blur(20px) contrast(10); */
    z-index: 0;
}

.loader {
    top: 217.5%;
    left: 50%;
}

.shadowLoader {
    top: 222.5%;
    left: 55%;
}

.loader2 {
    top: 30%;
    left: 10%;
}

.shadowLoader2 {
    top: 35%;
    left: 15%;
}

.loader3 {
    top: 40%;
    left: 20%;
}

.shadowLoader3 {
    top: 45%;
    left: 25%;
}

.loader4 {
    top: 50%;
    left: 30%;
}

.shadowLoader4 {
    top: 55%;
    left: 35%;
}

.loader5 {
    top: 60%;
    left: 40%;
}

.shadowLoader5 {
    top: 65%;
    left: 45%;
}

.loader6 {
    top: 70%;
    left: 50%;
}

.shadowLoader6 {
    top: 75%;
    left: 55%;
}

.loader7 {
    top: 80%;
    left: 60%;
}

.shadowLoader7 {
    top: 85%;
    left: 65%;
}

.loader8 {
    top: 90%;
    left: 70%;
}

.shadowLoader8 {
    top: 95%;
    left: 75%;
}

.loader9 {
    top: 100%;
    left: 80%;
}

.shadowLoader9 {
    top: 105%;
    left: 85%;
}

.loader10 {
    top: 110%;
    left: 90%;
}

.shadowLoader10 {
    top: 115%;
    left: 95%;
}

.loader11 {
    top: 120%;
    left: 100%;
}

.shadowLoader11 {
    top: 125%;
    left: 105%;
}



@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.particle {
    background-color: firebrick;
    /* background-color: #000; */
    /* background-color: cornsilk; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 2;
}

.particle:first-child,
.particle:last-child {
    width: 25px;
    height: 25px;
}

.particle:nth-child(1),
.particle:nth-child(3),
.particle:nth-child(5),
.particle:nth-child(7),
.particle:nth-child(9) {
    animation: pulse 1.3s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.9)
    }

    70% {
        transform: scale(0.6)
    }

    100% {
        transform: scale(1)
    }
}

.leftSpin {
    animation: leftSpin 2.5s linear infinite;
}

@keyframes leftSpin {
    from {
        transform: rotate(0deg) translateX(50px)
    }

    to {
        transform: rotate(360deg) translateX(50px)
    }
}

.rightSpin {
    animation: rightSpin 2.5s linear infinite;
}

@keyframes rightSpin {
    from {
        transform: rotate(360deg) translateX(50px)
    }

    to {
        transform: rotate(0deg) translateX(50px)
    }
}

/* adds random seeming animation motion */
.particle:nth-child(3) {
    animation-delay: .25s;
}

.particle:nth-child(5) {
    animation-delay: .75s;
}

.particle:nth-child(7) {
    animation-delay: 1.5s;
}

.particle:nth-child(9) {
    animation-delay: .3s;
}