/* prevents unexpected behavior across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  element's total width and height
        includes border & padding */
}

/* LIQUID LOADER ANIMATION */
.loader1 {
    top: 25vh;
    left: 25vw;
}

.shadowLoader1A {
    top: 20vh;
    left: 20vw;
}

.shadowLoader1B {
    top: 30vh;
    left: 30vw;
}

.shadowLoader1C {
    top: 20vh;
    left: 30vw;
}

.shadowLoader1D {
    top: 30vh;
    left: 20vw;
}

.loader2 {
    top: 25vh;
    left: 50vw;
}

.shadowLoader2A {
    top: 20vh;
    left: 45vw;
}

.shadowLoader2B {
    top: 30vh;
    left: 55vw;
}

.shadowLoader2C {
    top: 20vh;
    left: 55vw;
}

.shadowLoader2D {
    top: 30vh;
    left: 45vw;
}

.loader3 {
    top: 25vh;
    left: 75vw;
}

.shadowLoader3A {
    top: 20vh;
    left: 70vw;
}

.shadowLoader3B {
    top: 30vh;
    left: 80vw;
}

.shadowLoader3C {
    top: 20vh;
    left: 80vw;
}

.shadowLoader3D {
    top: 30vh;
    left: 70vw;
}

.loader4 {
    top: 50vh;
    left: 25vw;
}

.shadowLoader4A {
    top: 45vh;
    left: 20vw;
}

.shadowLoader4B {
    top: 55vh;
    left: 30vw;
}

.shadowLoader4C {
    top: 55vh;
    left: 20vw;
}

.shadowLoader4D {
    top: 45vh;
    left: 30vw;
}

.loader5 {
    top: 50vh;
    left: 50vw;
}

.shadowLoader5A {
    top: 45vh;
    left: 45vw;
}

.shadowLoader5B {
    top: 55vh;
    left: 55vw;
}

.shadowLoader5C {
    top: 55vh;
    left: 45vw;
}

.shadowLoader5D {
    top: 45vh;
    left: 55vw;
}

.loader6 {
    top: 50vh;
    left: 75vw;
}

.shadowLoader6A {
    top: 45vh;
    left: 70vw;
}

.shadowLoader6B {
    top: 55vh;
    left: 80vw;
}

.shadowLoader6C {
    top: 55vh;
    left: 70vw;
}

.shadowLoader6D {
    top: 45vh;
    left: 80vw;
}

.loader7 {
    top: 75vh;
    left: 25vw;
}

.shadowLoader7A {
    top: 70vh;
    left: 20vw;
}

.shadowLoader7B {
    top: 80vh;
    left: 30vw;
}

.shadowLoader7C {
    top: 70vh;
    left: 30vw;
}

.shadowLoader7D {
    top: 80vh;
    left: 20vw;
}


.loader8 {
    top: 75vh;
    left: 50vw;
}

.shadowLoader8A {
    top: 70vh;
    left: 45vw;
}

.shadowLoader8B {
    top: 80vh;
    left: 55vw;
}

.shadowLoader8C {
    top: 70vh;
    left: 55vw;
}

.shadowLoader8D {
    top: 80vh;
    left: 45vw;
}

.loader9 {
    top: 75vh;
    left: 75vw;
}

.shadowLoader9A {
    top: 70vh;
    left: 70vw;
}

.shadowLoader9B {
    top: 80vh;
    left: 80vw;
}

.shadowLoader9C {
    top: 70vh;
    left: 80vw;
}

.shadowLoader9D {
    top: 80vh;
    left: 70vw;
}

.loader10 {
    top: 25vh;
    left: 0vw;
}

.shadowLoader10A {
    top: 20vh;
    left: -5vw;
}

.shadowLoader10B {
    top: 30vh;
    left: 5vw;
}

.shadowLoader10C {
    top: 20vh;
    left: 5vw;
}

.shadowLoader10D {
    top: 30vh;
    left: -5vw;
}

.loader11 {
    top: 50vh;
    left: 0vw;
}

.shadowLoader11A {
    top: 45vh;
    left: -5vw;
}

.shadowLoader11B {
    top: 55vh;
    left: 5vw;
}

.shadowLoader11C {
    top: 45vh;
    left: 5vw;
}

.shadowLoader11D {
    top: 55vh;
    left: -5vw;
}

.loader12 {
    top: 75vh;
    left: 0vw;
}

.shadowLoader12A {
    top: 70vh;
    left: -5vw;
}

.shadowLoader12B {
    top: 80vh;
    left: 5vw;
}

.shadowLoader12C {
    top: 70vh;
    left: 5vw;
}

.shadowLoader12D {
    top: 80vh;
    left: -5vw;
}

.loader13 {
    top: 25vh;
    left: 100vw;
}

.shadowLoader13A {
    top: 20vh;
    left: 95vw;
}

.shadowLoader13B {
    top: 30vh;
    left: 105vw;
}

.shadowLoader13C {
    top: 20vh;
    left: 105vw;
}

.shadowLoader13D {
    top: 30vh;
    left: 95vw;
}

.loader14 {
    top: 50vh;
    left: 100vw;
}

.shadowLoader14A {
    top: 45vh;
    left: 95vw;
}

.shadowLoader14B {
    top: 55vh;
    left: 105vw;
}

.shadowLoader14C {
    top: 45vh;
    left: 105vw;
}

.shadowLoader14D {
    top: 55vh;
    left: 95vw;
}

.loader15 {
    top: 75vh;
    left: 100vw;
}

.shadowLoader15A {
    top: 70vh;
    left: 95vw;
}

.shadowLoader15B {
    top: 80vh;
    left: 105vw;
}

.shadowLoader15C {
    top: 70vh;
    left: 105vw;
}

.shadowLoader15D {
    top: 80vh;
    left: 95vw;
}

.loader16 {
    top: 0vh;
    left: 0vw;
}

.shadowLoader16A {
    top: -5vh;
    left: -5vw;
}

.shadowLoader16B {
    top: 5vh;
    left: 5vw;
}

.shadowLoader16C {
    top: -5vh;
    left: 5vw;
}

.shadowLoader16D {
    top: 5vh;
    left: -5vw;
}

.loader17 {
    top: 0vh;
    left: 25vw;
}

.shadowLoader17A {
    top: -5vh;
    left: 20vw;
}

.shadowLoader17B {
    top: 5vh;
    left: 30vw;
}

.shadowLoader17C {
    top: -5vh;
    left: 30vw;
}

.shadowLoader17D {
    top: 5vh;
    left: 20vw;
}

.loader18 {
    top: 0vh;
    left: 50vw;
}

.shadowLoader18A {
    top: -5vh;
    left: 45vw;
}

.shadowLoader18B {
    top: 5vh;
    left: 55vw;
}

.shadowLoader18C {
    top: -5vh;
    left: 55vw;
}

.shadowLoader18D {
    top: 5vh;
    left: 45vw;
}

.loader19 {
    top: 0vh;
    left: 75vw;
}

.shadowLoader19A {
    top: -5vh;
    left: 70vw;
}

.shadowLoader19B {
    top: 5vh;
    left: 80vw;
}

.shadowLoader19C {
    top: -5vh;
    left: 80vw;
}

.shadowLoader19D {
    top: 5vh;
    left: 70vw;
}

.loader20 {
    top: 0vh;
    left: 100vw;
}

.shadowLoader20A {
    top: -5vh;
    left: 95vw;
}

.shadowLoader20B {
    top: 5vh;
    left: 105vw;
}

.shadowLoader20C {
    top: -5vh;
    left: 105vw;
}

.shadowLoader20D {
    top: 5vh;
    left: 95vw;
}


.loader21 {
    top: 100vh;
    left: 0vw;
}

.shadowLoader21A {
    top: 95vh;
    left: -5vw;
}

.shadowLoader21B {
    top: 105vh;
    left: 5vw;
}

.shadowLoader21C {
    top: 95vh;
    left: 5vw;
}

.shadowLoader21D {
    top: 105vh;
    left: -5vw;
}

.loader22 {
    top: 100vh;
    left: 25vw;
}

.shadowLoader22A {
    top: 95vh;
    left: 20vw;
}

.shadowLoader22B {
    top: 105vh;
    left: 30vw;
}

.shadowLoader22C {
    top: 95vh;
    left: 30vw;
}

.shadowLoader22D {
    top: 105vh;
    left: 20vw;
}

.loader23 {
    top: 100vh;
    left: 50vw;
}

.shadowLoader23A {
    top: 95vh;
    left: 45vw;
}

.shadowLoader23B {
    top: 105vh;
    left: 55vw;
}

.shadowLoader23C {
    top: 95vh;
    left: 55vw;
}

.shadowLoader23D {
    top: 105vh;
    left: 45vw;
}

.loader24 {
    top: 100vh;
    left: 75vw;
}

.shadowLoader24A {
    top: 95vh;
    left: 70vw;
}

.shadowLoader24B {
    top: 105vh;
    left: 80vw;
}

.shadowLoader24C {
    top: 95vh;
    left: 80vw;
}

.shadowLoader24D {
    top: 105vh;
    left: 70vw;
}

.loader25 {
    top: 100vh;
    left: 100vw;
}

.shadowLoader25A {
    top: 95vh;
    left: 95vw;
}

.shadowLoader25B {
    top: 105vh;
    left: 105vw;
}

.shadowLoader25C {
    top: 95vh;
    left: 105vw;
}

.shadowLoader25D {
    top: 105vh;
    left: 95vw;
}

/* @keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} */

.common {
    position: absolute;
    display: flex;
    animation: rotate 116s linear infinite;
}

.color1 {
    /* only works because position is absolute */
    /* transform: translate(10%, 10%) rotate(90deg); */

    /* amazing filter effects! */
    filter: blur(0px) contrast(10px);
    z-index: 1;
}

.color2 {
    filter: blur(0px) contrast(0);
    z-index: 0;
}

body {
    height: 100vh;
    width: 100vw;
    /* prevents jumpy animation loop */
    overflow: hidden;
    /* background-color: transparent; */
    /* background-color: goldenrod; */
    /* background-color: peru; */
    background-color: bisque;

    /* background-image: url(../backgrounds/marigold.jpg); */
    /* mix-blend-mode: color-burn; */
    /* background-blend-mode: color-dodge; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: url('#goo');
    filter: brightness(.4);

}

section {
    height: 100%;
    width: 100%;
    /* background-color: maroon; */
    /* background-color: black; */
    background-color: lemonchiffon;

    opacity: .75;
    z-index: 2;

    filter: invert(75%);
    filter: blur(0px);
    /* filter: brightness(0.4); */
    /* filter: contrast(50%); */
    /* filter: drop-shadow(16px 16px 20px navy); */
    /* filter: grayscale(50%); */
    /* filter: hue-rotate(90deg); */
    /* filter: saturate(30%); */
    /* filter: sepia(60%); */
    /* filter: opacity(.85); */
    /* filter: url("filters.svg#filter-id"); */

}

.particle {
    background-color: firebrick;
    /* background-color: bisque; */
    /* background-color: cornsilk; */
    /* background-color: goldenrod; */

    height: 2.5vh;
    width: 2.5vw;
    border-radius: 50%;
    z-index: 2;
}

.particle:first-child,
.particle:last-child {
    width: 25px;
    height: 25px;
}

.particle:nth-child(1),
.particle:nth-child(3),
.particle:nth-child(5),
.particle:nth-child(7),
.particle:nth-child(9) {
    animation: pulse 6s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.9)
    }

    70% {
        transform: scale(0.6)
    }

    100% {
        transform: scale(1)
    }
}

.leftSpin {
    animation: leftSpin 16s infinite;
}


@keyframes leftSpin {
    0% {
        transform: rotate(0deg) translateY(0vh)
    }

    50% {
        transform: rotate(0deg) translateY(20vh)
    }

    100% {
        transform: rotate(0deg) translateY(0vh)
    }
}

.rightSpin {
    animation: rightSpin 16s linear infinite;
}


@keyframes rightSpin {
    from {
        transform: rotate(0deg) translateX(0vw)
    }

    to {
        transform: rotate(0deg) translateY(0vw)
    }
}


/* adds random seeming animation motion */
.particle:nth-child(3) {
    animation-delay: 3.44s;
}

.particle:nth-child(5) {
    animation-delay: 2.77s;
}

.particle:nth-child(7) {
    animation-delay: .3s;
}

.particle:nth-child(9) {
    animation-delay: .39s;
}

.color1:nth-child(1) {
    animation-delay: 1.22s;
}

.color1:nth-child(2) {
    animation-delay: .72s;
}

.color2:nth-child(1) {
    animation-delay: .61s;
}

.color2:nth-child(2) {
    animation-delay: 2.11s;
}