.shadowLoader2 {
    top: 217.5%;
    left: 10%;
}

.loader3 {
    top: 217.5%;
    left: 15%;
}

.shadowLoader3 {
    top: 217.5%;
    left: 20%;
}

.loader4 {
    top: 217.5%;
    left: 25%;
}

.shadowLoader4 {
    top: 217.5%;
    left: 30%;
}

.loader5 {
    top: 217.5%;
    left: 35%;
}

.shadowLoader5 {
    top: 217.5%;
    left: 40%;
}

.loader6 {
    top: 217.5%;
    left: 45%;
}

.shadowLoader6 {
    top: 217.5%;
    left: 50%;
}

.loader7 {
    top: 217.5%;
    left: 55%;
}

.shadowLoader7 {
    top: 217.5%;
    left: 60%;
}

.loader8 {
    top: 217.5%;
    left: 65%;
}

.shadowLoader8 {
    top: 217.5%;
    left: 70%;
}

.loader9 {
    top: 217.5%;
    left: 75%;
}

.shadowLoader9 {
    top: 217.5%;
    left: 80%;
}

.loader10 {
    top: 217.5%;
    left: 85%;
}

.shadowLoader10 {
    top: 217.5%;
    left: 90%;
}

.loader11 {
    top: 217.5%;
    left: 95%;
}

.shadowLoader11 {
    top: 217.5%;
    left: 100%;
}

.loader12 {
    top: 217.5%;
    left: 105%;
}