.loader2 {
    top: 108.25%;
    left: 55%;
}

.shadowLoader2 {
    top: 108.25%;
    left: 50%;
}

.loader3 {
    top: 326.5%;
    left: 50%;
}

.shadowLoader3 {
    top: 326.5%;
    left: 55%;
}


.loader4 {
    top: 217.5%;
    left: 20%;
}

.shadowLoader4 {
    top: 217.5%;
    left: 15%;
}

.loader5 {
    top: 108.25%;
    left: 15%;
}

.shadowLoader5 {
    top: 108.25%;
    left: 20%;
}

.loader6 {
    top: 326.5%;
    left: 20%;
}

.shadowLoader6 {
    top: 326.5%;
    left: 15%;
}


.loader7 {
    top: 217.5%;
    left: 85%;
}

.shadowLoader7 {
    top: 217.5%;
    left: 80%;
}

.loader8 {
    top: 108.25%;
    left: 80%;
}

.shadowLoader8 {
    top: 108.25%;
    left: 85%;
}

.loader9 {
    top: 326.5%;
    left: 85%;
}

.shadowLoader9 {
    top: 326.5%;
    left: 80%;
}


.loader10 {
    top: 217.5%;
    left: 35%;
}

.shadowLoader10 {
    top: 217.5%;
    left: 40%;
}

.loader11 {
    top: 108.25%;
    left: 40%;
}

.shadowLoader11 {
    top: 108.25%;
    left: 35%;
}

.loader12 {
    top: 326.5%;
    left: 35%;
}

.shadowLoader12 {
    top: 326.5%;
    left: 40%;
}


.loader13 {
    top: 217.5%;
    left: 65%;
}

.shadowLoader13 {
    top: 217.5%;
    left: 70%;
}

.loader14 {
    top: 108.25%;
    left: 70%;
}

.shadowLoader14 {
    top: 108.25%;
    left: 65%;
}

.loader15 {
    top: 326.5;
    left: 65%;
}

.shadowLoader15 {
    top: 326.5%;
    left: 70%;
}