.loader1 {
    top: 50vh;
    left: 50vw;
}

.shadowLoader1A {
    top: 45vh;
    left: 45vw;
}

.shadowLoader1B {
    top: 55vh;
    left: 55vw;
}

.shadowLoader1C {
    top: 45vh;
    left: 55vw;
}

.shadowLoader1D {
    top: 55vh;
    left: 45vw;
}